[submodule "modules/dotbot"]
	path = modules/dotbot
	url = https://github.com/anishathalye/dotbot

[submodule "modules/mia-nvim"]
	path = modules/mia-nvim
	url = https://github.com/marisystems/mia-nvim
